<h1>Add a pitch to the database</h1>
<form method="POST" action="/pitches"/>
<p>Pitch title: <input name="title", type="text"/></p>
<p>Industry: <input name="industry", type="text"/></p>
<p>Funding required: <input name="funding", type="number"/></p>
<p><input type="submit"/></p>
</form>